# Loading mental helath data into Database
* Reference the schema to create the schema in postgres
* (make sure not add constraints to your schema before loading your data)
#### Imports

In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.pyplot as plot
from sqlalchemy import create_engine
from sqlalchemy import inspect
from db_setup import pg_user, pg_password, db_name
import plotly.graph_objs as go
from sqlalchemy import create_engine

#### Connecting to the database

In [9]:
DATABASE_URL = "postgres://mydatabase:7p5aJYj9bqrE0FC9VCTUYWvTh8ITFXeY@dpg-cnm7jr6n7f5s73d5otpg-a.singapore-postgres.render.com/mydatabase_r2fd"

DATABASE_URL = DATABASE_URL.replace(
    'postgres://',
    'postgresql://',
    1
)

#### Checking table schema

In [10]:
engine = create_engine(DATABASE_URL)

#### Adding mental health data to schema

In [11]:
mental_helath_survey = '../survey.csv'
mental_helath_survey= pd.read_csv(mental_helath_survey , index_col=0)
mental_helath_survey

,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
Timestamp,,,,,,,,,,,,,,,,,,,,,
2014-08-27 12:03,27.0,Female,United States,NY,Yes,No,Yes,Often,05-Jan,Yes,...,Very easy,Maybe,Maybe,Some of them,Yes,No,Maybe,Yes,No,NaN
2014-08-27 22:55,30.0,Female,United States,WI,Yes,Yes,Yes,Often,05-Jan,Yes,...,Somewhat difficult,No,No,Yes,Yes,No,No,Yes,No,Because I'm self-employed and the only person ...
2014-08-27 12:11,29.0,Female,United States,FL,No,No,Yes,Sometimes,26-100,No,...,Don't know,Maybe,No,Some of them,Some of them,No,Maybe,No,Yes,NaN
2014-08-27 12:15,25.0,Female,Canada,NaN,No,No,Yes,Sometimes,26-100,No,...,Don't know,Maybe,No,Some of them,Yes,No,Maybe,Don't know,No,NaN
2014-08-27 12:44,25.0,Female,United States,NY,No,Yes,Yes,Sometimes,500-1000,No,...,Don't know,Yes,Yes,Some of them,Some of them,No,No,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-08-28 14:46,26.0,NaN,Germany,NaN,Yes,No,Yes,Sometimes,25-Jun,Yes,...,Very easy,No,No,Some of them,Some of them,Maybe,Maybe,Yes,No,NaN
2014-08-27 14:22,30.0,NaN,United States,IL,No,Yes,Yes,Rarely,26-100,No,...,Somewhat easy,Maybe,No,Some of them,Yes,No,No,Don't know,No,NaN
2014-08-27 12:15,18.0,NaN,Russia,NaN,No,No,No,NaN,26-100,Yes,...,Somewhat easy,No,No,Yes,Yes,Yes,Yes,Don't know,No,In Russia we have mandatory medical insurance....
2014-08-28 9:02,19.0,NaN,United States,MO,No,Yes,Yes,Often,26-100,No,...,Somewhat difficult,Maybe,Maybe,No,No,No,Maybe,No,No,NaN
2014-08-27 11:54,23.0,NaN,United States,MA,No,No,No,Rarely,More than 1000,No,...,Somewhat difficult,Maybe,No,Yes,Yes,No,No,No,No,NaN

In [12]:
mental_helath_survey.to_sql(name='mental_health', con=engine, if_exists='append', index=True)

259

#### Adding  development indicator data to schema

In [13]:
development_indicator = 'indicator.csv'
development_indicator= pd.read_csv(development_indicator , index_col=0)
development_indicator

,country_code,social_insurance,social_protection,unemployment_benefits,Educational_attainment,Female_employment,Male_employment,GDP_per_capita,Labor_force_rate_female,Labor_force_rate_male,...,life_expectancy_female,Life_expectancy_total,Total_population,Suicide_mortality_rate_per_100k,Suicide_mortality_rate_per_100k_female,Suicide_mortality_rate_per_100k_male,unemployment_with_basic_education_total,Unemployment_with_basic_education_female,Unemployment_with_basic_education_male,Year
country_name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,NaN,NaN,NaN,NaN,23.177000,71.530197,613.856689,25.784300,77.076797,...,64.453,62.966,3.337079e+07,NaN,NaN,NaN,7.380100,14.0912,6.140500,2014
Albania,ALB,NaN,NaN,NaN,NaN,37.157101,50.734901,4578.631990,43.983601,63.343700,...,80.045,77.813,2.889104e+06,NaN,NaN,NaN,15.071700,10.7487,18.591000,2014
Algeria,DZA,NaN,NaN,NaN,NaN,12.350000,60.139999,5493.025590,15.577800,66.231796,...,77.085,75.878,3.892369e+07,NaN,NaN,NaN,NaN,NaN,NaN,2014
American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,11507.232400,NaN,NaN,...,NaN,NaN,5.579100e+04,NaN,NaN,NaN,NaN,NaN,NaN,2014
Andorra,AND,NaN,NaN,NaN,96.534492,NaN,NaN,41303.929400,NaN,NaN,...,NaN,NaN,7.921300e+04,NaN,NaN,NaN,NaN,NaN,NaN,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,PSE,NaN,NaN,NaN,NaN,10.611500,54.922401,NaN,18.044001,69.830200,...,NaN,NaN,4.685306e+06,NaN,NaN,NaN,22.505501,18.9575,22.741699,2019
World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,11428.569900,NaN,NaN,...,NaN,NaN,7.673534e+09,NaN,NaN,NaN,NaN,NaN,NaN,2019
"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.916192e+07,NaN,NaN,NaN,NaN,NaN,NaN,2019
Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,1291.343360,NaN,NaN,...,NaN,NaN,1.786103e+07,NaN,NaN,NaN,NaN,NaN,NaN,2019
Zimbabwe,ZWE,4.807448,36.742774,1.540269,NaN,28.419600,44.281101,1463.985910,34.615200,52.741600,...,NaN,NaN,1.464547e+07,NaN,NaN,NaN,14.758000,15.1226,14.425500,2019

In [14]:
development_indicator.to_sql(name='development_indicator', con=engine, if_exists='append', index=True)

578